<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudar</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="cards" *ngIf="cardsEstudar.length > 0;else emptyTemplate">
    <div class="card" *ngFor="let cardEstudar of cardsEstudar;let i= index;" [style.zIndex]="cardsEstudar.length - i" (touchstart)="touchStart($event)" (touchmove)="touchMove($event,i)" (touchend)="touchEnd(i)" id="{{'card-'+i}}">

      <ion-card (click)="toggleAnswer(cardEstudar?.id)" mode="ios">
        <ion-card-content mode="md">
          <ion-label>

            <h2>
              <ion-text color="primary" size="large" class="ion-text" style="font-size: 2rem">{{ cardEstudar?.pergunta }}</ion-text>
            </h2>

            <br><br><br>
            <br><br><br>
            <br><br><br>
            
            <p [ngClass]="{'ion-hide': !cardEstudar?.showAnswer}">
              <ion-text class="ion-hide" color="dark" size="medium" class="ion-text" style="font-size: 1.5rem">{{ cardEstudar?.resposta }}</ion-text>
            </p>           

          </ion-label>
        </ion-card-content>
      </ion-card>   
    
    </div>
  </div>

  <ng-template #emptyTemplate>
    <div class="center">
      <ion-icon name="checkmark-circle" size="large"></ion-icon>
      <br>
      <ion-note>Sem mais cartas hoje!</ion-note>
    </div>
  </ng-template>
</ion-content>
