::-webkit-scrollbar {
  display: none;
}

.cards {
  position: relative;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
      position: absolute;

      ion-card {
          position: relative;
          border-radius: 16px;
          padding: 10vh;
          height: 50%;

          ion-card-content {
              padding: 0;

                  ion-label {
                    
                      h2 {
                          font-size: x-large;
                      }

                      p {
                          font-size: large;
                      }
                  }

          }
      }        
  }

}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}