<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudar</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngIf="cardsEstudar[currentIndex]">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ cardsEstudar[currentIndex]?.pergunta }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ cardsEstudar[currentIndex]?.resposta }}
      </ion-card-content>
    </ion-card>
  </div>
  

  <div class="nav-buttons">
    <ion-button (click)="adicionar5Dias()">Facil</ion-button>
    <ion-button (click)="adicionar3Dias()">Medio</ion-button>
    <ion-button (click)="adicionar1Dia()">Dificil</ion-button>
  </div>
</ion-content>
