::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;          
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100%;            
    width: 100%;             
    position: absolute;      
    top: 0;                  
    left: 0;                 
}

.cards {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 90%;            
    max-width: 90%;
}

.cards .card {
    display: none;
    width: 90%; 
    
    ion-card {
        width: 100%;        
        height: auto;        /* Altura se ajusta ao conteúdo */
        max-height: 90%;    /* Limita a altura máxima */
        overflow-y: auto;   /* Habilita a rolagem se o conteúdo exceder */
        padding: 2%;        
        border-radius: 16px; 
        
        ion-card-content {
            padding: 0;
            margin: 0;

            ion-label {
                h2 {
                    font-size: x-large;
                    margin-bottom: 2%;  /* Espaçamento entre o título e a resposta */
                }

                p {
                    font-size: large;
                }
            }
        }
    }        
}

/* Estilos para telas maiores (desktop) */
@media (min-width: 768px) {
    .cards .card ion-card {
        padding: 2vh;
        max-height: 90%; 
    }
}



.action-buttons {
    display: none;
    margin-top: 20px;
    button {
      margin: 0 10px;
    }
  }
  
  /* A partir de 768px (considerando um tablet ou desktop), mostrar os botões */
  @media screen and (min-width: 768px) {
    .action-buttons {
      display: flex;
      justify-content: center;
    }
  }