<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudar</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="stack">
    <div class="card" *ngFor="let card of cardsEstudar; let i = index"
         [ngClass]="{ 'active': card.id === currentCard?.id }"
         [id]="card.id">
      <div class="pergunta">{{ card.pergunta }}</div>
      <div class="resposta-embacada" (click)="revelarResposta(currentCard.id)">{{ card.resposta }}</div>
    </div>
  </div>
  
    
  <div class="buttons">
    <ion-button (click)="marcarComoFacil()">Facil</ion-button>
    <ion-button>Medio</ion-button>
    <ion-button>Dificil</ion-button>
  </div>
  
  
</ion-content>
