<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="title-with-icon">
      <ion-title size="large">Criar</ion-title>
      
      <!-- Ícone quando o usuário está OFFLINE (não logado) -->
      <ion-icon button (click)="openCloudModal()" *ngIf="!authService.uid" class="right-icon" name="cloud-offline-outline"></ion-icon>

      <!-- Ícone quando o usuário está ONLINE (logado) -->
      <ion-icon button (click)="openCloudModal()" *ngIf="authService.uid" class="right-icon" name="cloud-outline"></ion-icon>
      
    </ion-toolbar>
  </ion-header>
</ion-content>




<ion-card class="card-container">
    
  <ion-card-header>
    <ion-card-title>Nova carta</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    
    <ion-input [(ngModel)]="pergunta" label="pergunta" placeholder="pergunta"></ion-input>
    <ion-input [(ngModel)]="resposta" label="resposta" placeholder="resposta"></ion-input>

    <br>

    <ion-list class="assunto">

      <ion-item>
        <ion-label position="floating">Assunto</ion-label>
        
        <ion-select placeholder="Assunto do card" interface="popover" [(ngModel)]="assunto" (ionChange)="updateAssunto(assunto)">
          <ion-select-option value="geral">Conhecimentos gerais</ion-select-option>
          <ion-select-option value="ingles">Ingles</ion-select-option>
          <ion-select-option value="espanhol">Espanhol</ion-select-option>
        </ion-select>
      </ion-item>
      


    </ion-list>

    <br>

    <ion-button (click)="addCards()" [disabled]="false">Adicionar</ion-button>

  </ion-card-content>
</ion-card>