


.card-container {
      margin-bottom: 10%;
  }

  .title-with-icon {
    position: relative;
    padding-right: 20px;
    font-size: 1.2em;
}

.right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.assunto{
  margin-top: 5%;
}


@media screen and (max-width: 1024px) {
  .card-container {
    bottom: 20%;
  }

  .assunto{
    margin-top: 10%;
  }
}