@import '../../theme/variables.scss'; // Importa o arquivo SCSS geral da aplicação


.card-container {
      bottom: 10%;
  }

  .title-with-icon {
    position: relative;
    padding-right: 20px;
    font-size: 1.2em;
}

.right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .card-container {
      bottom: 0%;
    }
  }