


.card-container {
      margin-bottom: 15%;
  }

  .title-with-icon {
    position: relative;
    padding-right: 20px;
    font-size: 1.2em;
}

.right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.assunto{
  margin-top: 5%;
}



@media screen and (max-width: 768px) {
    .card-container {
      margin-bottom: 50%;
    }

    .assunto{
      margin-top: 10%;
    }
  }