<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="fecharModal()"></ion-icon>
    <ion-title>
      Editar Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Editar Cards </ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="pesquisar" [(ngModel)]="termoDePesquisa" (ionChange)="filtrarCards()"></ion-searchbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let card of cards">
        <ion-card class="custom-card" (click)="editarCard(card)">

          <ion-card-content *ngIf="!card.editando">
            <h3>{{ card.pergunta }}</h3>
            <p>{{ card.resposta }}</p>
          </ion-card-content>

          <ion-card-content class="editando" *ngIf="card.editando">
            <ion-input [(ngModel)]="card.pergunta"></ion-input>
            <ion-input [(ngModel)]="card.resposta"></ion-input>
            <ion-button (click)="salvarEdicao(card)">Salvar</ion-button>
            <ion-icon name="trash-outline" (click)="excluirCard(card)"></ion-icon>
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  

</ion-content>