.custom-card {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 20px;
  }
  
  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

.lixeira{
  margin: 1px;
  margin-top: 5px;
}
  
  ion-card-content {
    padding: 0; 
  }
  
  h3 {
    font-size: 1.4rem; /* Ajuste o tamanho da fonte da pergunta */
    margin-bottom: 50%; /* Aumente a margem inferior entre a pergunta e a resposta */
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0; /* Remova a margem inferior da resposta */
  }