<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="logout()"> 
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="title-with-icon">
      <ion-title size="large">Ajustes</ion-title>

      <!-- Ícone quando o usuário está OFFLINE (não logado) -->
      <ion-icon *ngIf="!authService.uid" class="right-icon" name="cloud-offline-outline"></ion-icon>

      <!-- Ícone quando o usuário está ONLINE (logado) -->
      <ion-icon *ngIf="authService.uid" class="right-icon" name="cloud-outline"></ion-icon>

    </ion-toolbar>
  </ion-header>

  <br><br><br>
  
  <ion-item button (click)="openLoginModal()">
    <ion-label>
      <h2>Login</h2>
      <p>criar conta</p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <ion-label>
      <h2>opcao 2</h2>
      <p>texto</p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <ion-label>
      <h2>opcao 3</h2>
      <p>texto</p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h2>opcao 4</h2>
      <p>texto</p>
      <p>texto</p>
    </ion-label>
  </ion-item>
</ion-content>



