<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="title-with-icon">
      <ion-title size="large">Ajustes</ion-title>

      <ion-buttons slot="end">
        <ion-icon button (click)="openCloudModal()" *ngIf="!authService.uid" class="right-icon" name="cloud-offline-outline"></ion-icon>

        <!-- Ícone quando o usuário está ONLINE (logado) -->
        <ion-icon button (click)="openCloudModal()" *ngIf="authService.uid" class="right-icon" name="cloud-outline"></ion-icon>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <br><br><br>
  
  <ion-item button (click)="openLoginModal()" *ngIf="!authService.uid">
    <ion-label>
      <h2>Login</h2>
      <p>conectar ou criar conta</p>
    </ion-label>
  </ion-item>
  
  <ion-item button (click)="openEditarModal()" button detail="false">
    <ion-label>
      <h2>Cards</h2>
      <p>edite aqui suas cards</p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <ion-label>
      
      <h2 (click)="importarCards()">Importar Cards</h2>
      <input type="file" (change)="onFileSelected($event)">
      <p>importe suas cards do Anki</p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h2>opcao 4</h2>
      <p>texto</p>
      <p>texto</p>
    </ion-label>
  </ion-item>

  <ion-item id="sair" button detail="false" detail-icon="caret-forward-outline" *ngIf="authService.uid" (click)="logout()">
    <ion-label>
      <h2>Sair</h2>
      <p>desconectar</p>
    </ion-label>
  </ion-item>
</ion-content>